<h1>Building Your Playlist...</h1>

<div class="spinner"></div>

<p id="job-message">This may take a few seconds.</p>

<script>

const jobId = "{{ job_id }}";
console.log("Job ID:", jobId);


async function checkStatus() {

    try{ 
        const response = await fetch(
            `/status/${jobId}`
        );

        const data = await response.json();


        document.getElementById("job-message")
            .innerText = data.message;


        if (data.status === "complete_search") {

            window.location.href =
                `/results/${jobId}`;
        } else if (data.status == "complete_vibe") {
            window.location.href = `/playlist/${jobId}`;
        } else if (data.status === "error") {
            window.location.href = `/error/${jobId}`;
        } 
    } catch (err) {
        window.location.href = `/error/network`;
    }
}

setInterval(checkStatus, 2000);

</script>
